
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.logo {
  width: max(10%, 80px);
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
}


.profile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
}


.nav-profile-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  display: none;
  background-color: #48484a;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.profile:hover .nav-profile-dropdown {
  display: flex;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.nav-profile-dropdown li:hover {
  color: tomato;
}

.nav-profile-dropdown img {
  width: 20px;
}

.notif-container {
  position: relative;
  cursor: pointer;
}

.notification-icon {
  width: 30px;
}

.notif-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

.notif-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  width: 220px;
  background: #48484a;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid tomato;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.notif-item {
  background: #333;
  padding: 8px;
  border-radius: 4px;
  border-left: 3px solid tomato;
  font-size: 14px;
}

.notif-item:hover {
  background: #3e3e3e;
}

.no-notif {
  text-align: center;
  opacity: 0.7;
}